<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="light">AI Initialization</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="secondary" routerLink="/settings" aria-label="Settings">
        <ion-icon slot="icon-only" name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-button expand="block" size="large" (click)="inizializzaAI()">
    Avvia Inizializzazione AI
  </ion-button>

  <ion-button expand="block" size="large" color="secondary" (click)="attivaTutele()" style="margin-top: 10px;">
    Attiva Tutele
  </ion-button>

  <div *ngIf="message" style="margin-top: 20px;">
    <ion-text color="primary">{{ message }}</ion-text>
  </div>

</ion-content>
