<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="light">Questionario Diritti Utente</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="secondary" routerLink="/settings" aria-label="Settings">
        <ion-icon slot="icon-only" name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form *ngIf="questionarioForm" [formGroup]="questionarioForm" (ngSubmit)="submit()">
    <ion-list>

      <ng-container *ngFor="let q of questions">

        <ion-item *ngIf="q.tipo === 'number'">
          <ion-label position="floating">{{ q.testo_domanda }}</ion-label>
          <ion-input type="number" [formControlName]="q.id" [disabled]="isComplete"></ion-input>
        </ion-item>

        <ion-item *ngIf="q.tipo === 'testo_libero' || q.tipo === 'text'">
          <ion-label position="floating">{{ q.testo_domanda }}</ion-label>
          <ion-input type="text" [formControlName]="q.id" [disabled]="isComplete"></ion-input>
        </ion-item>

        <ion-item *ngIf="q.tipo === 'textarea'">
          <ion-label position="floating">{{ q.testo_domanda }}</ion-label>
          <ion-textarea [formControlName]="q.id" [disabled]="isComplete"></ion-textarea>
        </ion-item>

        <ion-item *ngIf="q.tipo === 'select'">
          <ion-label position="floating">{{ q.testo_domanda }}</ion-label>
          <ion-select [formControlName]="q.id" [disabled]="isComplete">
            <ion-select-option *ngFor="let opt of q.opzioni" [value]="opt">{{ opt }}</ion-select-option>
          </ion-select>
        </ion-item>

      </ng-container>

      <ion-button expand="block" type="submit" [disabled]="questionarioForm.invalid || isComplete">
        Invia Questionario
      </ion-button>

    </ion-list>
  </form>

  <!-- Debug form status e valori -->
  <pre>Status: {{ questionarioForm?.status }}</pre>
  <pre>Valori: {{ questionarioForm?.value | json }}</pre>
</ion-content>
